extends layout
block content
  a(href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://localhost:3000/javascripts/groubook.js';})();")
    | find presents
