extends layout
block content
  a(href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://10.60.201.163:3000/javascripts/groubook.js';})();")
    | find presents
